@model ToDoList.Models.DTOs.UserDTO;


<div class="card">
    <div class="card-header" style="background-color:aqua;">

        <h4 class="title">Your Profile</h4>

    </div>
    <div class="card-content">

        <form asp-action="Update" asp-controller="User">
            <div class="row">


                <div class="col-md-4">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Email address</label>
                        <input type="email" class="form-control" value="@Model.Email" readonly>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Fist Name</label>
                        <input type="text" class="form-control" name="firstName" value="@Model.FirstName">
                        <span class="material-input"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" name="lastName" value="@Model.LastName">
                        <span class="material-input"></span>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">City</label>
                        <input type="text" class="form-control" name="city" value="@Model.City">
                        <span class="material-input"></span>
                    </div>
                </div>



            </div>


            <div class="text-md-right">

                <button type="submit" class="btn btn-outline-info btn-fill btn-wd"
                        asp-param-firstName="firstName" ,asp-param-lastName="lastName" ,
                        asp-param-city="city" ,asp-param-phoneNumber="phoneNumber">
                    Update Profile
                </button>

                <input type="button" class="btn btn-outline-danger" value="Delete"
                       onclick="location.href='@Url.Action("Delete", "User")'" />

            </div>


            <div class="clearfix"></div>
        </form>
    </div>
</div>